.post {
  word-break: keep-all;
  background-color: transparent;
}

.titleRow {
  position: sticky;
  top: 40px;
  margin-bottom: 16px;
  background-color: var(--background);
}

.titleRow > a {
  color: inherit;
}

.titleRow > a > h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.titleRow > .date {
  font-family: monospace;
  font-size: 0.875rem;
}
