.post {
  word-break: keep-all;
}

.postTitleRow {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 32px;
  padding-bottom: 7.2px;
  border-bottom: 1px solid #333;
}

.postDate {
  font-family: 'Courier New', monospace;
}

.post > .postContent {
  background-color: transparent;
}
