.container {
  max-width: 800px;
  padding: 16px;
}

.post {
  margin: 32px 0;
  word-break: keep-all;
}

.postTitle {
  display: flex;
  align-items: flex-start;
  gap: 8px
}

.postContent {
  padding: 0 16px;
  line-height: 1.5;
}

.postContent a {
  color: lightskyblue;
}

.postContent p {
  margin: 12px 0;
}

.postContent ul {
  margin-left: 16px;
}

.postContent ul li {
  margin: 4px 0;
}

.postContent img {
  max-width: 300px;
}