.titleRow {
  position: sticky;
  top: 0px;
  z-index: 100;

  display: flex;
  gap: 8px;
  
  height: 42px;
  padding-top: 16px;
  background-color: var(--background);
}
.title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: fantasy;
}
.title > a:hover {
  text-decoration: underline;
}
.writer {
  font-family: fantasy;
}
.writer > a:hover {
  text-decoration: underline;
}

.description {
  font-size: 0.875rem;
}
